.user-badge{
    display: flex;
    align-items: center;
    gap: 8px;

    img{
        border: 1px solid var(--siteBorderColor);
        border-radius: 100%;
        max-width: 44px;
    }

    span{
        font-size: 16px;
        font-weight: 400;

        a &{
            font-weight: 700;
        }

    }

}