// Variables
////////////////////////////////////////////////

:root{ 
    --brandBlack: #111;
    --brandLightGray: #eee;
    --brandLightestGray: #dee2e6;
    --brandDarkGray: #212529;
    --brandWhite: #FEFEFE;
    --brandOffWhite: #F5F5F5;
    --brandBlue: #2892d7;
    --brandDarkBlue: #2074AC;
    --brandRed: #DB504A;

    --baseLineHeight: 1.4;
    --headingLineHeight: 1.2;

    --sitePrimaryFont: 'Geologica', sans-serif;

    --sitePrimaryFontColor: var(--brandBlack);

    --sitePrimaryBackgroundColor: var(--brandLightGray);

    --siteBorderColor: var(--brandLightestGray);
    --siteBorderRadius: 6px;

    --siteInputBg: var(--brandOffWhite);

    --siteHorizonalPadding: 30px;
    --siteContentWidth: 1320px;

    @media screen and (max-width: 768px) {

        --siteHorizonalPadding: 20px;

    }
}

// Site Base
////////////////////////////////////////////////

*{
    box-sizing: border-box;
}

body{
    background-color: var(--sitePrimaryBackgroundColor);
    color: var(--sitePrimaryFontColor);
    font-family: var(--sitePrimaryFont);
}

#root > div{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.site-main{
    flex: 1 1;
    padding: 0px var(--siteHorizonalPadding);

    &.padded{ 
        padding-top: 40px;
        padding-bottom: 40px;
    }

    &__inner{
        margin: 0 auto;
        max-width: var(--siteContentWidth);
        width: 100%;
    }
}

// Helper Classes
////////////////////////////////////////////////

.screen-reader-text{
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
}

// Base Typography
////////////////////////////////////////////////
  

// Base Buttons
////////////////////////////////////////////////

button{
    cursor: pointer;
}

%baseButton{
    display: inline-block;
    padding: 12px 20px 11px; 
    color: var(--brandWhite);
    background-color: var(--brandBlue);
    border: initial;
    border-radius: var(--siteBorderRadius);
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    transition: background-color 0.3s ease-in;

    &:hover,
    &:focus-visible{
        background-color: var(--brandDarkGray);
    }
}

.btns-contain {
    margin: 32px 0px;
    display: flex;
    flex-wrap: wrap;

    &.center{
        justify-content: center;
    }

}

.btn{ 
    display: inline-block;
    &__link{
        @extend %baseButton;
    }
}

.btn-el{
    @extend %baseButton;
}

// Base Nav
////////////////////////////////////////////////

nav{
 
    ul{
        margin: 0px;
        padding: 0px;
        list-style-type: none;
    }

}

// Base Forms
////////////////////////////////////////////////

.form-field{

    &:not(:last-of-type){ 
        margin: 0px 0px 12px;
    }

    label{
        display: block;
        font-size: 18px;
        margin: 0px 0px 4px;
    }

}

%baseInput {
    background-color: var(--siteInputBg);
    border: 1px solid var(--siteBorderColor);
    border-radius: var(--siteBorderRadius);
    height: 44px; 
    padding: 0px 10px;
    color: var(--sitePrimaryFontColor);
    font-size: 18px;
    width: 100%;
}

select{
    @extend %baseInput;
}

textarea{
    @extend %baseInput;
    height: 200px;
}

input{

    &:not([type="radio"]),
    &:not([type="checkbox"]),
    &:not([type="submit"]),
    &:not([type="button"]),
    &:not([type="image"]),
    &:not([type="file"]){
        @extend %baseInput;

        &::placeholder{
            color: var(--sitePrimaryFontColor);
            opacity: .6;
        }
        &:-ms-input-placeholder{
            color: var(--sitePrimaryFontColor);
            opacity: .6;
        }

        &::-ms-input-placeholder { 
            color: var(--sitePrimaryFontColor);
            opacity: .6;
        }

    }

}

// Base Modals
////////////////////////////////////////////////
 
.ReactModal__Overlay {
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,.7)!important;
    padding: 20px;
}

.ripples-modal{
    position: relative;
    border-radius: var(--siteBorderRadius);
    background-color: var(--brandWhite);
    border: 1px solid var(--siteBorderColor);
    max-width: 560px;
    width: 100%;
    padding: 30px; 

    &__close{
        position: absolute;
        top: 5px;
        right: 5px;
    }

}