// Variables
////////////////////////////////////////////////


:root{
    --brandBlack: #111;
    --brandLightGray: #eee;
    --brandLightestGray: #dee2e6;
    --brandDarkGray: #212529;
    --brandWhite: #FEFEFE;
    --brandOffWhite: #F5F5F5;
    --brandBlue: #2892d7;
    --brandDarkBlue: #2074AC;
    --brandRed: #DB504A;

    --baseLineHeight: 1.4;
    --headingLineHeight: 1.2;

    --sitePrimaryFont: 'Geologica', sans-serif;

    --sitePrimaryFontColor: var(--brandBlack);

    --sitePrimaryBackgroundColor: var(--brandLightGray);

    --siteBorderColor: var(--brandLightestGray);
    --siteBorderRadius: 6px;

    --siteHorizonalPadding: 30px;
    --siteContentWidth: 1320px;
}

// Site Base
////////////////////////////////////////////////

*{
    box-sizing: border-box;
}

body{
    background-color: var(--sitePrimaryBackgroundColor);
    color: var(--sitePrimaryFontColor);
    font-family: var(--sitePrimaryFont);
}

#root > div{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.site-main{
    flex: 1 1;
    padding: 0px var(--siteHorizonalPadding);

    &__inner{
        max-width: var(--siteContentWidth);
        width: 100%;
    }
}

// Helper Classes
////////////////////////////////////////////////

.screen-reader-text{
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
}

// Base Typography
////////////////////////////////////////////////


// Base Forms
////////////////////////////////////////////////

input{

    &:not([type="radio"]),
    &:not([type="checkbox"]),
    &:not([type="submit"]),
    &:not([type="button"]),
    &:not([type="image"]),
    &:not([type="file"]){
        border: 1px solid var(--siteBorderColor);
        border-radius: var(--siteBorderRadius);
        height: 40px;
        padding: 0px 10px;
        color: var(--sitePrimaryFontColor);
        font-size: 18px;

        &::placeholder{
            color: var(--sitePrimaryFontColor);
            opacity: .5;
        }
        &:-ms-input-placeholder{
            color: var(--sitePrimaryFontColor);
            opacity: .7;
        }

        &::-ms-input-placeholder { 
            color: var(--sitePrimaryFontColor);
            opacity: .7;
        }

    }

}