.pc__controls{
    background-color: var(--brandOffWhite);
    display: flex;
    overflow: hidden; 

    .control-button{
        padding: 8px;
        flex: 1;
        border: initial;
        background-color: initial;
        color: var(--sitePrimaryFontColor);
        text-align: center; 

        &:hover,
        &:focus-visible{
            background-color: var(--brandLightestGray);
        }

        &.active{
            background-color: var(--brandLightGray);
        }
    }

}