.pc__comment{

    &:not(:last-of-type){
        margin: 0px 0px 16px;
        padding: 0px 0px 16px;
        border-bottom: 1px solid var(--brandOffWhite);
    }

    .header{
        margin: 0px 0px 8px; 
        display: flex;
        align-items: center;
        gap: 12px; 

        .timestamp{
            margin-left: auto;
        }

    }

    &-body{
        font-size: 14px;
        white-space: pre-wrap;

        >*:first-child{
            margin-top: 0px;
        }

        >*:last-child{
            margin-bottom: 0px;
        }

        p{
            margin: 10px 0px;
        }

    }

}