.pc__header{
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: var(--brandOffWhite);
    padding: var(--pcPadding);
    border-radius: var(--siteBorderRadius) var(--siteBorderRadius) 0px 0px;

    .timestamp{
        margin-left: auto;
    }

}