.pc{
    --pcPadding: 6px; 

    display: flex;
    justify-content: space-between;
    row-gap: 5px;

    &:not(:last-of-type){
        margin: 0px 0px 30px; 
    }

    &__post{
        width: 42%;
        background-color: var(--brandWhite);
        border-radius: var(--siteBorderRadius);
        border: 1px solid var(--siteBorderColor);
    }

    &__comments{
        width: 55%; 
        padding: var(--pcPadding);
        border-bottom: 1px solid var(--siteBorderColor);
        background-color: var(--brandWhite);
        border-radius: var(--siteBorderRadius);
        border: 1px solid var(--siteBorderColor);
    }
 
    &__title{
        padding: var(--pcPadding);

        > *{
            margin: 0px;
        }

    }

    &__base{
        padding: var(--pcPadding);
        border-bottom: 1px solid var(--siteBorderColor);
    }

    @media screen and (max-width: 768px){
        flex-direction: column;
        
        &__post,
        &__comments{
            width: 100%;
        }

    }

}